  <div id="garden"></div>
  <div class="buttons_area">
    <a id='add-flower' href="javascript: ;">Add a flower</a>
    <a id='add-tree' href="javascript: ;">Add a tree</a>
  </div>

$(function(){
  garden = new Garden({el: $("#garden")});
  garden.render();
});

var Garden = Backbone.View.extend({
  events: {
    "click #add-flower": function(){  console.log(“add a flower”) }
  });
